@font-face {
  font-family: "KZ PF Champion Script Pro";
  src: url("../fonts/KZPFChampionScriptPro-Regular.woff2") format("woff2"),
    url("../fonts/KZPFChampionScriptPro-Regular.woff") format("woff"),
    url("../fonts/KZPFChampionScriptPro-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lora';
  src: url('../fonts/Lora-Regular.woff2') format('woff2'),
      url('../fonts/Lora-Regular.woff') format('woff'),
      url('../fonts/Lora-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
